/*============================Inititialisation============================*/
html * {
  box-sizing: border-box;
  color: white;
  font-family: "Noto Sans Mono", monospace;
}
:root {
  --B_background: #333;
  --T_background: #555;
  --BS_color: #4b4b4b;
  --M_color: #0f9;
}
body {
  background-color: var(--B_background);
  margin: 0;
}
body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "foot";
  gap: 10px;
}
/*============================Nav============================*/
nav {
  display: grid;
  grid-template-columns: 12.5% 67.5% 20%;
  border-bottom: 1px solid var(--M_color);
}
nav div svg {
  height: 50px;
}
nav div {
  border-right: 1px solid var(--M_color);
}
nav div svg {
  float: left;
  margin: 0 1vw;
}
nav div p {
  margin: 0;
  font-weight: 700;
  font-size: 1vw;
  line-height: 50px;
}
.first_links,
.second_links {
  padding: 0;
  margin: 0;
}
.first_links {
  width: 90%;
  margin: 0 auto;
}
.second_links {
  width: 100%;
  border-left: 1px solid var(--M_color);
}
.first_links li,
.second_links li {
  float: left;
  list-style: none;
}
.first_links li {
  width: 20%;
}
.second_links li {
  width: 50%;
}
.first_links li a,
.second_links li a {
  display: block;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 1vw;
}
#login {
  background-color: var(--M_color);
  color: black;
}
.first_links li a:hover,
.second_links li a:hover {
  background-color: var(--M_color);
  color: black;
}
#login:hover {
  background-color: var(--B_background);
  color: white;
}
/*============================Foot============================*/
footer {
  grid-area: foot;
  border-top: 3px solid var(--T_background);
  width: 100%;
}
.right {
  margin: 0;
  float: right;
  margin-right: 20px;
}
.foot_log {
  height: 20px;
  float: left;
}
footer p {
  float: left;
  margin: 0 1em 0 0.5em;
}
/*============================Main============================*/
/*===============Commun===============*/
main {
  grid-area: main;
  margin: 2em;
  margin-bottom: 1em;
}
main h1 {
  font-size: 3vw;
  margin: 0;
}
main p {
  margin: 1em;
  font-size: 1vw;
}
/*===============homepage===============*/
.svg svg {
  width: 100px;
  height: 120px;
}
.homepage {
  background-color: var(--T_background);
  box-shadow: 20px 20px var(--BS_color);
  padding: 1em;
  margin: 2em 20px 2em 0;
}
.circle {
  width: 20vw;
  background-image: url("./img/moi.jpg");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 10px -70px;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin: 0 2em;
  float: right;
}
