/*============================Inititialisation============================*/
html * {
  box-sizing: border-box;
  color: white;
  font-family: "Noto Sans Mono", monospace;
}
:root {
  --B_background: #333;
  --T_background: #555;
  --BS_color: #4b4b4b;
  --M_color: #0f9;
  --MV_color: #0e8254;
}
@font-face {
  font-family: "retroGaming";
  src: url("./fonts/retro_gaming-webfont.woff") format("woff");
}
body {
  background-color: var(--B_background);
  margin: 0;
}
body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "foot";
  gap: 10px;
}
.darkerMainColor {
  color: var(--MV_color);
}
.mainColor {
  color: var(--M_color);
}
.portfolioFont {
  font-family: "retroGaming";
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: var(--M_color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--MV_color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--MV_color);
}
/*============================Nav============================*/
nav {
  display: grid;
  grid-template-columns: 12.5% 67.5% 20%;
  border-bottom: 1px solid var(--M_color);
}
nav div svg {
  display: none;
}
nav div svg:first-child {
  height: 50px;
  display: block;
}
nav div {
  border-right: 1px solid var(--M_color);
}
nav div svg {
  float: left;
  margin: 0 1vw;
}
nav div p {
  margin: 0;
  font-weight: 700;
  font-size: 1vw;
  line-height: 50px;
}
.admin {
  background-color: var(--M_color);
}
.admin .adminLogo {
  display: none;
}
.admin p {
  color: black;
  text-align: center;
}
.first_links,
.second_links {
  padding: 0;
  margin: 0;
}
.first_links {
  width: 90%;
  margin: 0 auto;
}
.second_links {
  width: 100%;
  border-left: 1px solid var(--M_color);
}
.first_links li,
.second_links li {
  float: left;
  list-style: none;
}
.first_links li {
  width: 20%;
}
.second_links li {
  width: 50%;
}
.first_links li a,
.second_links li a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 1vw;
  font-weight: bolder;
}
#login {
  background-color: var(--M_color);
  color: black;
}
.first_links li a:hover,
.second_links li a:hover {
  background-color: var(--M_color);
  color: black;
}
#login:hover {
  background-color: var(--B_background);
  color: white;
}
.burger {
  position: fixed;
  left: 1vw;
  top: 1vh;
  display: none;
  width: 8vw;
  height: 8vw;
}
/*============================Foot============================*/
footer {
  grid-area: foot;
  border-top: 3px solid var(--T_background);
  width: 100%;
  background-color: var(--B_background);
  height: 25px;
  position: sticky;
  bottom: 0;
}
.right {
  margin: 0;
  float: right;
  margin-right: 20px;
}
.foot_log {
  height: 20px;
  float: left;
}
footer p {
  float: left;
  margin: 0 1em 0 0.5em;
}
/*============================Main============================*/
/*===============Commun===============*/
main {
  grid-area: main;
  margin: 2em;
  margin-bottom: 1em;
}
main h1 {
  font-size: 3vw;
  margin: 0;
}
main p {
  margin: 1em;
}
/*===============homepage===============*/
.title {
  display: flex;
  flex-basis: fit-content;
  gap: 2em;
}
.svg {
  width: 5vw;
}
.homepage {
  display: grid;
  grid-template-columns: 1fr 20vw 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". . up"
    "pres img guest"
    ". . down";
  margin: 5vh auto;
  column-gap: 1vw;
  row-gap: 10px;
}
.presentation,
.portGuestbook {
  max-width: 60ch;
  margin: 0 auto;
}
.presentation div {
  background-color: var(--T_background);
  padding: 2em;
  border: 1px solid var(--M_color);
}
.homepage section div h3,
.homepage section div p {
  margin: 0;
}
.homepage .presentation .check h3 {
  text-decoration: underline;
  text-align: center;
  margin: 1vh 0 2vh 0;
}
.homepage .presentation .check p {
  text-indent: 10%;
}
.homepage .presentation .check .center {
  text-indent: unset;
  text-align: center;
}
.presentation {
  grid-area: pres;
}
.profilePic {
  width: 100%;
  grid-area: img;
}
.profilePicM {
  display: none;
}
.portGuestbook {
  grid-area: guest;
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.portGuestBookContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  position: absolute;
  transform: translateZ(-418px);
  transform-style: preserve-3d;
  transition: transform 1s;
}
.cell {
  width: 100%;
  height: 100%;
  position: absolute;
}
.cell:nth-child(1) {
  transform: rotateX(0deg) translateZ(418px);
}
.cell:nth-child(2) {
  transform: rotateX(60deg) translateZ(418px);
}
.cell:nth-child(3) {
  transform: rotateX(120deg) translateZ(418px);
}
.cell:nth-child(4) {
  transform: rotateX(180deg) translateZ(418px);
}
.cell:nth-child(5) {
  transform: rotateX(240deg) translateZ(418px);
}
.cell:nth-child(6) {
  transform: rotateX(300deg) translateZ(418px);
}
.cell div {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--T_background);
  border: 1px solid var(--M_color);
  padding: 1em;
}
.cell div h3,
.cell div p {
  text-align: center;
}
.portGuestBookContainer .cell div h3 {
  text-decoration: underline;
  margin-bottom: 2vh;
}
.up,
.down {
  width: 10%;
  margin: 0 auto;
  transition: 100ms;
}
.up:hover,
.down:hover {
  transform: scale(1.2);
}
.up {
  grid-area: up;
}
.down {
  grid-area: down;
}
.formGuestBook {
  display: none;
  width: 40vw;
  margin: 2vh auto;
  background-color: var(--T_background);
  box-shadow: 20px 20px var(--BS_color);
  padding: 1vw;
}
.visible {
  display: block;
}
.formGuestBook div {
  display: flex;
  justify-content: center;
  margin: 1vw;
}
.formGuestBook div label {
  text-align: center;
  flex: 1;
}
.formGuestBook div input,
.formGuestBook div textarea {
  flex: 3;
  color: black;
}
.formGuestBook div textarea {
  height: 20vh;
  resize: none;
}
.formGuestBook .buttonGuestBook {
  display: block;
  margin: 1vw auto;
  width: 100%;
}
.formGuestBook .buttonGuestBook input {
  width: 30%;
}
.formDisplay {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
/*===============CV===============*/
.CV {
  background: linear-gradient(180deg, var(--MV_color) 35%, var(--M_color) 100%);
  width: 60%;
  margin: 0 auto;
  margin-top: 13vh;
  animation-duration: 1s;
  animation-name: CVIn;
  animation-fill-mode: forwards;
  position: relative;
  visibility: hidden;
  opacity: 0;
}
.CV section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "contact title"
    "contact exp"
    "contact forma"
    "contact comp"
    "contact int";
  background-image: url("./img/tittleDottedLines.svg");
  background-repeat: repeat-y;
  background-position-x: 24.5%;
  background-size: 15px;
  overflow: hidden;
}
.experienceCV,
.formationCV,
.competenceCV,
.interetCV {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "T E"
    "C C";
  visibility: hidden;
  opacity: 0;
}
@keyframes CVIn {
  0% {
    transform: translateY(3000px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes titleIn {
  from {
    transform: translateX(3000px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes partsIn {
  from {
    transform: translateX(3000px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes circleCVIn {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1.6);
  }
  85% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.1);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
.experienceCV h3,
.formationCV h3,
.competenceCV h3,
.interetCV h3 {
  text-align: center;
  grid-area: T;
  margin: 0;
  margin-top: 1vh;
  height: 100%;
  position: relative;
}
.CVLogo {
  height: 20px;
  position: absolute;
  top: 2px;
  right: 10px;
}
.blank {
  grid-area: E;
  background-color: white;
}
.content {
  grid-area: C;
  background-color: white;
  margin: 0;
  padding: 1vw;
}
.content p {
  font-weight: bolder;
  margin: 0;
  color: var(--MV_color);
}
.content .text {
  color: black;
}
.content ul {
  margin-left: 1vw;
  padding: 0;
  list-style: none;
}
.content ul li {
  color: black;
  padding: 0;
  font-weight: bolder;
}
.content pre {
  color: black;
}
.content ul li::before {
  content: "\2B24";
  color: var(--MV_color);
}
.titreCV {
  grid-area: title;
  background-image: url("./img/dottedlineO.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 80px;
  padding-left: 2vw;
  height: 70px;
  animation-duration: 1s;
  animation-name: titleIn;
  animation-fill-mode: forwards;
}
.titreCV h2 {
  margin: 0;
  margin-top: 1.5vh;
  font-size: 1.5vw;
}
.contactCV {
  grid-area: contact;
  background-image: url("./img/contactDottedLine.svg");
  background-size: 100%;
  background-position-x: 60%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}
.circleCV {
  position: absolute;
  left: 1.5vw;
  top: -10vh;
  background-image: url("./img/moi.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 0vh;
  border-radius: 50%;
  width: 20%;
  visibility: hidden;
  opacity: 0;
  animation-duration: 1s;
  animation-name: circleCVIn;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-fill-mode: forwards;
}
.experienceCV {
  grid-area: exp;
  animation-duration: 2s;
  animation-delay: 250ms;
  animation-name: partsIn;
  animation-fill-mode: forwards;
}
.formationCV {
  grid-area: forma;
  animation-duration: 2s;
  animation-delay: 500ms;
  animation-name: partsIn;
  animation-fill-mode: forwards;
}
.competenceCV {
  grid-area: comp;
  animation-duration: 2s;
  animation-delay: 750ms;
  animation-name: partsIn;
  animation-fill-mode: forwards;
}
.interetCV {
  grid-area: int;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-name: partsIn;
  animation-fill-mode: forwards;
}
/*===============Galerie===============*/
.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 2em;
  width: 90%;
  margin: 2em auto;
}
.project {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 2000vw;
  transition: 0.3s ease-in;
}
.project:hover {
  transform: scale(1.05);
}
.project_inner {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  transition: transform 0.25s ease-in-out;
  transform-style: preserve-3d;
}
.rotate {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
  box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.3);
}
@-moz-document url-prefix() {
  .front,
  .back {
    box-shadow: none;
  }
  .project {
    box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .project_inner {
    width: 100%;
  }
}
.front {
  border: 3px solid white;
}
.back {
  background-color: var(--T_background);
  transform: rotateY(180deg);
  border: 3px solid var(--M_color);
  word-wrap: break-word;
  padding: 1vw;
}
.back h3 {
  text-decoration: underline;
}
.text p {
  font-weight: bold;
  font-size: 12px;
}

/*==========Projects==========*/
.london {
  background-image: url("./img/london-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}
.london:hover {
  background-image: url("./img/london.png");
}
.prefo {
  background-image: url("./img/prefo-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}
.prefo:hover {
  background-image: url("./img/prefo.png");
}
.guestbook {
  background-image: url("./img/guestbook-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}
.guestbook:hover {
  background-image: url("./img/guestbook.png");
}
.calculatrice {
  background-image: url("./img/calculatrice-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}
.calculatrice:hover {
  background-image: url("./img/calculatrice.png");
}
.rpg {
  background-image: url("./img/rpg-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}
.rpg:hover {
  background-image: url("./img/rpg.png");
}
/*===============Tutoriels===============*/
.tutos {
  width: 90vw;
  margin: 3vh auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "tu1 tu2"
    "conclu conclu";
  gap: 30px;
}
.tuto1 {
  grid-area: tu1;
  justify-self: right;
}
.tuto2 {
  grid-area: tu2;
}
.conclu {
  grid-area: conclu;
  justify-self: center;
}
.tuto h2,
.conclu h2 {
  text-align: center;
}
.tuto1,
.tuto2,
.conclu {
  width: 60ch;
  padding: 1vh;
  background-color: var(--T_background);
  border: 3px solid var(--M_color);
  box-shadow: 17px 17px var(--BS_color), 17px 17px 0px 3px #007f4c;
}
.tuto1,
.tuto2 {
  cursor: move;
}
.tuto1.over,
.tuto2.over {
  border: 3px dotted var(--M_color);
}

/*===============Liens===============*/
.liens h2 {
  text-align: center;
}
.liens section ul {
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 1em;
}
.liens section ul a li {
  display: flex;
  gap: 1em;
  padding: 1em;
  background-color: var(--T_background);
  box-shadow: 20px 20px var(--BS_color);
  margin: 2em 0;
}
.liens section ul a li p {
  grid-area: text;
  width: 60ch;
  margin: 0;
  text-align: center;
}
.liens section ul a {
  text-decoration: none;
  transition: 0.3s ease-in;
  width: fit-content;
  margin: 0 auto;
}
.liens section ul a:hover {
  transform: scale(1.1);
}
.liens section ul a li div {
  grid-area: pic;
}
.liens section ul a li div img {
  width: 200px;
  height: 200px;
  display: block;
}
/*===============Contact===============*/
.contact {
  height: 25vh;
  line-height: 25vh;
}
.contactImg {
  display: none;
}
.mailE,
.mailS {
  position: absolute;
  right: 5vw;
  top: 80px;
  width: 15vw;
}
.mailS {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-name: sent;
  animation-fill-mode: forwards;
}
@keyframes sent {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) scale(0.5);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg) scale(0.5);
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    transform: translate(-100vw, -30vh);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(0vw);
    opacity: 0;
    visibility: hidden;
  }
}
.contactForm {
  width: 50vw;
  padding: 1vw;
  margin: 1vw auto;
  background-color: var(--T_background);
  box-shadow: 20px 20px var(--BS_color);
}
.contactForm div {
  display: flex;
  justify-content: center;
  margin: 1vw;
}
.contactForm div label {
  text-align: center;
  flex: 1;
}
.contactForm div input,
.contactForm div textarea {
  flex: 3;
  color: black;
}
.contactForm div textarea {
  height: 30vh;
  resize: none;
}
.contactForm .buttonContact {
  display: block;
  cursor: pointer;
  margin: 1vw auto;
  width: 30vw;
}
.contactForm .buttonContact input {
  width: 100%;
}
/*===============Login===============*/

.login {
  padding: 1vw;
  background-color: var(--T_background);
  box-shadow: 20px 20px var(--BS_color);
  width: 30vw;
  margin: 2em auto;
}
.login div input {
  color: black;
  margin: 2vh auto;
  display: block;
  width: 20vw;
  height: 50px;
}
.buttonLogin input {
  background-color: var(--M_color);
}
.wrong {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(200, 0, 0);
  background-color: rgb(255, 150, 150);
  border-radius: 10px;
}
.wrong p {
  color: black;
  font-size: 1vw;
}
#cross {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-image: url("./img/cross.png");
  float: right;
  cursor: pointer;
}
/*===============Admin===============*/
.management {
  width: 90%;
  margin: 2vh auto;
}
.tableHead,
.tableMessages {
  display: grid;
  grid-template-columns: 0.5fr 1fr 4fr 1fr 1fr;
  grid-auto-rows: 1fr;
  text-align: center;
  border: 2px solid var(--M_color);
}
.tableHead {
  margin-bottom: 2vh;
}
.tableHead div,
.tableMessages div {
  background-color: var(--T_background);
  border: 1px solid var(--M_color);
}
.management section div p {
  margin: 0;
}
.editable:hover {
  text-decoration: underline;
  cursor: url("https://i.stack.imgur.com/ygtZg.png"), auto;
}
.tableMessages div {
  border: 1px solid var(--M_color);
  padding: 1em;
}
.tableMessages textarea {
  color: black;
  resize: none;
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
}
.editable + form {
  display: none;
}
.divButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonEdit {
  border: 1px solid var(--M_color);
  background-color: var(--T_background);
  color: white;
  text-decoration: none;
  border-radius: 10%;
  font-size: 1em;
  margin: 1em 0;
  padding: 0.25em;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.53);
}
.confirm {
  display: inline-block;
  width: 40%;
}
.confirmForm {
  display: none;
}
.cancel {
  border: none;
  background-color: red;
}
.validate {
  border: none;
  background-color: green;
}
.userMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonEdit:hover {
  box-shadow: none;
}
/*============================801px To 1280px============================*/
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /*============================Nav============================*/
  nav {
    grid-template-columns: 10% 65% 25%;
  }
  nav p {
    display: none;
  }
  .admin p {
    display: block;
    font-size: 0.9vw;
  }
  nav div {
    border-right: none;
  }
  .first_links {
    width: 100%;
    margin: 0;
  }
  .first_links li a,
  .second_links li a {
    font-size: 2vw;
  }
  /*============================Main============================*/
  /*===============homepage===============*/
  .homepage {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ". up"
      "pres guest"
      " . down";
  }
  .profilePic {
    display: none;
  }
  .profilePicM {
    width: 30%;
    margin: 1vh auto;
    display: block;
  }
  .formGuestBook {
    width: 50vw;
  }
  /*===============CV===============*/
  .content ul li {
    font-size: 1.5vw;
  }
  .content p {
    font-size: 1.5vw;
  }
  .CV {
    width: 80%;
  }
  .titreCV h2 {
    font-size: 3vw;
  }
  .experienceCV,
  .formationCV,
  .competenceCV,
  .interetCV {
    grid-template-areas:
      "T"
      "C";
    grid-template-columns: 1fr;
  }
  .CV div h3 {
    font-size: 1.5vw;
  }
  /*===============Galerie===============*/
  .galerie {
    grid-template-columns: repeat(2, 1fr);
    gap: 4em 0;
  }
  @-moz-document url-prefix() {
    .galerie {
      gap: 4em 2em;
    }
  }
  .project:hover {
    transform: scale(1);
  }
  .london {
    background-image: url("./img/london.png");
  }
  .prefo {
    background-image: url("./img/prefo.png");
  }
  .guestbook {
    background-image: url("./img/guestbook.png");
  }
  .calculatrice {
    background-image: url("./img/calculatrice.png");
  }
  .rpg {
    background-image: url("./img/rpg.png");
  }
  /*===============Tutoriels===============*/
  .tuto1,
  .tuto2,
  .conclu {
    width: unset;
  }
  /*===============Liens===============*/

  .liens section ul a li div img {
    width: 150px;
    height: 150px;
  }
  .liens section ul a li p {
    font-size: 1.5vw;
  }
  /*===============Contact===============*/
  .contactForm {
    width: 80vw;
  }
  .contactImg {
    width: 12vw;
    display: block;
    position: absolute;
    right: 5vw;
    top: 10vh;
  }
  .mailE,
  .mailS {
    display: none;
  }
  /*===============Login===============*/
  .login {
    width: 50vw;
  }
  .login div input {
    width: 40vw;
  }
  .wrong p {
    font-size: 2vw;
  }
}
/*============================Up To 800px============================*/
@media screen and (max-width: 800px) {
  /*============================Nav============================*/
  nav {
    width: 30vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5fr 5fr 2fr;
    position: fixed;
    left: -31vw;
    background-color: var(--T_background);
    border: 3px solid white;
    z-index: 1;
    transition: left 500ms ease 200ms;
  }
  .in {
    left: 0;
    transition: left 200ms linear 0s;
  }
  nav p {
    display: none;
  }

  .first_links,
  .second_links {
    width: 100%;
  }
  .second_links {
    border: none;
  }
  .first_links li a,
  .first_links li,
  .second_links li a,
  .second_links li {
    width: 100%;
    font-size: 20px;
  }
  .first_links li a,
  .second_links li a {
    background-color: var(--M_color);
    color: black;
    height: 100%;
  }
  .first_links li,
  .second_links li {
    border: 3px solid white;
  }
  .first_links li {
    height: calc(100% / 5);
  }
  .second_links li {
    height: calc(100% / 2);
  }
  nav div svg {
    display: block;
  }
  nav div svg:first-child {
    display: none;
  }
  nav div {
    border: none;
    width: 50%;
    margin: 1em auto;
  }

  .admin {
    width: 100%;
    background-color: unset;
  }
  .admin p {
    display: block;
    color: white;
    font-size: 4vw;
  }
  .admin .adminLogo {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-image: url("./img/logo.ico");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  nav p {
    display: none;
  }
  .burger {
    display: block;
    transition: all 0.3s 0s ease;
  }
  .burger:active {
    transform: scale(1.5);
  }
  .svg {
    display: none;
  }
  main {
    margin: 0;
  }
  /*============================Foot============================*/
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "mobile1 mobile3 mobile2";
  }
  .mobile1 {
    grid-area: mobile1;
  }
  .mobile2 {
    grid-area: mobile2;
  }
  .mobile3 {
    grid-area: mobile3;
  }
  .right {
    float: none;
    font-size: 2vw;
    line-height: 6vh;
    margin: 0;
    text-align: center;
  }
  .foot_log {
    margin-top: 8px;
    float: left;
  }
  footer a {
    width: 80%;
    margin: 0 auto;
  }
  footer p {
    display: none;
  }
  .right {
    display: block;
    font-size: 2.5vw;
  }
  .foot_log {
    margin: 10px 8vw;
  }
  /*============================Main============================*/
  .contact,
  .loginT,
  .mainLiens h1,
  .mainTuto h1,
  .mainGalerie h1,
  .mainCV h1,
  .title h1 {
    height: unset;
    line-height: unset;
    flex-basis: unset;
    display: block;
    width: 80vw;
    margin: 4vh auto;
    text-align: center;
    font-size: 10vw;
  }
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.9);
  }

  /*===============homepage===============*/
  .homepage {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr auto;
    grid-template-areas:
      "pres"
      "up"
      "guest"
      "down";
  }
  .presentation,
  .portGuestbook {
    max-width: 50ch;
    font-size: 3vw;
  }
  .profilePic {
    display: none;
  }
  .profilePicM {
    width: 30%;
    margin: 1vh auto;
    display: block;
  }
  .formGuestBook {
    width: 80vw;
    margin: 6vh auto;
    box-shadow: unset;
  }
  /*===============CV===============*/
  .content {
    margin: 2vh 0 0 2vw;
  }
  .content ul li {
    font-size: 2.5vw;
  }
  .content p {
    font-size: 2.5vw;
  }
  .circleCV {
    animation: none;
    visibility: visible;
    opacity: 1;
    top: -2vh;
  }
  .CV {
    width: 90vw;
    animation: none;
    visibility: visible;
    opacity: 1;
  }
  .titreCV {
    animation: none;
    visibility: visible;
    opacity: 1;
  }
  .titreCV h2 {
    font-size: 4vw;
    margin-left: 2vw;
  }
  .experienceCV,
  .formationCV,
  .competenceCV,
  .interetCV {
    grid-template-areas:
      "T"
      "C";
    grid-template-columns: 1fr;
    animation: none;
    visibility: visible;
    opacity: 1;
  }
  .CV div h3 {
    margin-top: 3vh;
    font-size: 3.5vw;
  }
  .CV section {
    background-position-x: 26%;
  }
  .content pre {
    font-size: 2.5vw;
  }
  /*===============Galerie===============*/
  .galerie {
    grid-template-columns: 1fr;
    gap: 4em 0;
  }
  .project_inner {
    width: 80%;
  }
  .project:hover {
    transform: scale(1);
  }
  @-moz-document url-prefix() {
    .project {
      box-shadow: none;
    }
  }
  .london {
    background-image: url("./img/london.png");
  }
  .prefo {
    background-image: url("./img/prefo.png");
  }
  .guestbook {
    background-image: url("./img/guestbook.png");
  }
  .calculatrice {
    background-image: url("./img/calculatrice.png");
  }
  .rpg {
    background-image: url("./img/rpg.png");
  }
  /*===============Tutoriels===============*/
  .tutos {
    grid-template-columns: 1fr;
    grid-template-areas:
      "tu1"
      "tu2"
      "conclu";
  }
  .tuto1,
  .tuto2,
  .conclu {
    width: unset;
    box-shadow: unset;
  }
  /*===============Liens===============*/
  .liens section h2 {
    display: block;
    width: 80vw;
    margin: 1vh auto;
  }
  .liens section ul a {
    width: 80vw;
  }
  .liens section h2 {
    text-align: center;
  }
  .liens section ul a li {
    display: grid;
    box-shadow: none;
    grid-template-areas:
      "pic"
      "text";
  }
  .liens section ul a:hover {
    transform: unset;
  }
  .liens section ul a li div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .liens section ul a li div img {
    width: 100%;
    height: 100%;
  }
  .liens section ul a li p {
    font-size: 2vw;
    display: block;
    width: 100%;
  }
  /*===============Contact===============*/
  .mailE,
  .mailS {
    display: none;
  }
  .contactImg {
    display: block;
    width: 30vw;
    margin: 2em auto;
  }
  .contactForm {
    box-shadow: none;
    width: 90vw;
  }
  .contactForm .buttonContact {
    display: block;
    cursor: pointer;
    margin: 1vw auto;
    width: 50vw;
  }
  /*===============Login===============*/
  .login {
    width: 90vw;
    box-shadow: none;
  }
  .login div input {
    width: 70vw;
  }
  .wrong p {
    font-size: 2vw;
  }
  @media screen and (max-width: 400px) {
    .mainHomepage img {
      background-position-y: -3vh;
    }
    .presentation p {
      font-size: 4vw;
    }
    nav {
      width: 40vw;
      left: -41vw;
    }
    .admin p {
      font-size: 5vw;
    }
    .burger {
      top: 3vw;
      left: 3vw;
    }
    .wrong p {
      font-size: 3vw;
    }
    .liens section ul a li p {
      font-size: 3vw;
    }
    .presentation,
    .portGuestbook {
      max-width: 50ch;
      font-size: 4vw;
    }
    @media screen and (max-width: 350px) {
      .presentation p {
        font-size: 5vw;
      }
      .galerie {
        margin-bottom: 10em;
        gap: 8em 0;
      }
      nav {
        width: 50vw;
        left: -51vw;
      }
      .contactForm {
        font-size: 5vw;
      }
      .liens section h2 {
        font-size: 4vw;
      }
      .liens section ul a li p {
        font-size: 4vw;
      }
      .wrong p {
        font-size: 4vw;
      }
      .presentation,
      .portGuestbook {
        max-width: 30ch;
        font-size: 5vw;
      }
    }
  }
}
